/* Basic table-styles */
table {
	border-collapse: collapse;
}

table th,
table td {
	border-right: 1px solid #ccc;
	text-align: left;
	padding: 2px 8px;
}
table th {
	border-bottom: 1px solid #ccc;
}
table th.nested-data {
	width: 300px;
}

/* Expand/Collapse-link */
td.nested-data span {
	background: transparent url(../images/circle.png) no-repeat;
	display: block;
	padding-left: 20px;
}
	tr.has-children td.nested-data span {
		background: transparent url(../images/arrow-right.png) no-repeat;
	}
	tr.has-children td.nested-data.expanded span {
		background: transparent url(../images/arrow-down.png) no-repeat;
	}

/* Nesting levels */
table tr.level0 td.nested-data { padding-left: 0; }
table tr.level1 td.nested-data { padding-left: 20px; }
table tr.level2 td.nested-data { padding-left: 40px; }
table tr.level3 td.nested-data { padding-left: 60px; }
table tr.level4 td.nested-data { padding-left: 80px; }
table tr.level5 td.nested-data { padding-left: 100px; }
table tr.level6 td.nested-data { padding-left: 120px; }
table tr.level7 td.nested-data { padding-left: 140px; }
table tr.level8 td.nested-data { padding-left: 160px; }

/* Draggable element */
.nested-table-item-dragging table td {}

/* Droppable element */
table tr.bg-nested-table-droppable-append-hover		{ background-color: #0ff; }

/* Drop indicator bar */
.drop-indicator-bar { background-color: #0ff; }