/* Basic table-styles */
table {
	border-collapse: collapse;
	margin-bottom: 4.5em;
}

table th,
table td {
	border-left: 1px solid #ccc;
	text-align: left;
	padding: 2px 8px;
}
table td.nested-data-cell {
	border: none;
}
table th {
	border-bottom: 1px solid #ccc;
}
table th.nested-data-cell {
	border-left: none;
	width: 300px;
}

/* Form */
table td.nested-data-cell form { display: inline; }

/* Expand/Collapse-link */
td.nested-data-cell .expand-collapse-icon {
	background: transparent url(../images/circle.png) no-repeat;
	display: block;
	float: left;
	width: 15px;
	height: 15px;
}
	tr.has-children td.nested-data-cell .expand-collapse-icon {
		background: transparent url(../images/arrow-right.png) no-repeat;
	}
	tr.has-children.expanded td.nested-data-cell .expand-collapse-icon {
		background: transparent url(../images/arrow-down.png) no-repeat;
	}

td.nested-data-cell .nested-data {
  display: block;
  float: left;
}

/* Draggable element */
.nested-table-item-dragging table td {}

/* Droppable element */
table tr.bg-nested-table-droppable-append-hover		{ background-color: #0ff; }

/* Drop indicator bar */
.drop-indicator-bar {
  display: none;
  height: 12px;
}
  .drop-indicator-bar .col-indicator {
    background: url(../images/drop_indicator.png) no-repeat center right;
    float: left;
    width: 10%;
    height: 100%;
  }
    .drop-indicator-bar .col-indicator .thick-rule {
      background-color: #000;
      height: 2px;
      margin-top: 5px;
    }
  .drop-indicator-bar .row-indicator {
    float: left;
    width: 90%;
    height: 100%;
  }
    .drop-indicator-bar .row-indicator .thin-rule {
      background-color: #ccc;
      height: 1px;
      margin-top: 6px;
    }

/* Add & Edit icons */
table tr td .add-edit-icons { visibility: hidden; }
	table tr td .add-edit-icons a img {
		border: none;
		display: block;
		float: left;
	}

table tr.hover td .add-edit-icons,
table tr.active td .add-edit-icons { visibility: visible}